


	<!-- start: Content -->
	<!--<div id="content" class="span11">
		<div class="row-fluid">-->

			<div class="span7">
				<h1>My View</h1>

				<div class="priority high"><span>feedback I've received</span></div>

				<% @feedbacks.each do |feedback| %>
				<div class="task high">
						<div class="desc">
							<div class="title">
								<strong><%= feedback.sender.first_name %> <%= feedback.sender.last_name %></strong> said about me for <%= feedback.situation %>:
							</div>
							<div>
								Positive(s): <%= feedback.positive %><br />
								Growth Area(s): <%= feedback.growth_area %><br />
								Hide? <%= feedback.hide %> <%= link_to 'Edit', edit_feedback_path(feedback) %><br />
							</div>
						</div>
						<div class="time">
							<div class="date"><%= feedback.created_at.strftime("%b. %d") %></div>
						</div>
				</div>
				<% end %>

				<div class="priority medium"><span>badges I've received</span></div>

				<% @userbadges.each do |userbadge| %>
				<div class="task medium">
						<div class="desc">
							<div class="title">
									<strong><%= userbadge.sender.first_name %> <%= userbadge.sender.last_name %></strong> 
									gave me a badge for:
							</div>
							<div>
								<%= userbadge.badge.badge_name %> <%= image_tag userbadge.badge.badge_image_url(:thumb).to_s %>
								Delete:<%= link_to 'Destroy', userbadge, :confirm => 'Are you sure?', :method => :delete %>
							</div>
						</div>

						<div class="time">
								<div class="date"><%= userbadge.created_at.strftime("%b. %d") %></div>
						</div>
				</div>
				<% end %>


				<div class="priority low"><span>feedback I've left</span></div>
				<% @feedbackleft.each do |feedbackleft| %>
				<div class="task low">
						<div class="desc">
							<div class="title">
								I said about <strong><%= feedbackleft.user.first_name %> <%= feedbackleft.user.last_name %></strong> for <%= feedbackleft.situation %>:
							</div>
							<div>
								Positive(s): <%= feedbackleft.positive %><br />
								Growth Area(s): <%= feedbackleft.growth_area %><br />
							</div>
						</div>
						<div class="time">
							<div class="date"><%= feedbackleft.created_at.strftime("%b. %d") %></div>
						</div>
					</div>
				<% end %>


				<div class="priority medium"><span>badges I've sent</span></div>

				<% @badgesent.each do |userbadgesent| %>
					<div class="task medium">
						<div class="desc">
							<div class="title">
									I gave <strong><%= userbadgesent.user.first_name %> <%= userbadgesent.user.last_name %></strong> a badge for:	
							</div>
							<div>
								<%= userbadgesent.badge.badge_name %> <%= image_tag userbadgesent.badge.badge_image_url(:thumb).to_s %>
							</div>
						</div>
						<div class="time">
							<div class="date"><%= userbadgesent.created_at.strftime("%b. %d") %></div>
						</div>
					</div>
				<% end %>

			</div> <!-- span7 -->

		<!-- </div> -->
	<!--</div>--> <!-- row-fluid -->










	 
	

