
<h1>Feedback I've Received</h1>

<% @feedbacks.each do |feedback| %>

<%= feedback.created_at.strftime("%b. %d") %><br/>

<%= feedback.sender.first_name %> <%= feedback.sender.last_name %> said about <strong><%= feedback.user.first_name %> <%= feedback.user.last_name %></strong> for <%= feedback.situation %>:<br/>
Positive(s): <%= feedback.positive %><br />
Growth Area(s): <%= feedback.growth_area %><br />
Hide? <%= feedback.hide %> <%= link_to 'Edit', edit_feedback_path(feedback) %><br />

<% end %>


<h1>Badges I've Received</h1>


<h1>Feedback I've Left</h1>