


	<!-- start: Content -->
	


		<div class="row-fluid">
			<div class="box span4" onTablet="span6" onDesktop="span4">				

				<div class="box-header">
						<h2><i class="halflings-icon list"></i><span class="break"></span>Feedback I've Received</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
				</div>
				
				<!--
				<#% @events.each do |event| %>
				  <#% if event.item_type == 'feedback' %>
						<%#= render partial: 'feedback', locals: {feedback: event.item } %>
					<#% eslif event.item_type == 'clientfeedback' %>
						<%#= render partial: 'feedback', locals: {feedback: event.item } %>
					<#% end %>
				<#% end %>
			-->

				<% @feedbacks.each do |feedback| %>
				<div class="box-content">
					<ul class="chat">
						<li class="left">
							<!--<img class="avatar" alt="Pic" src="img/avatar.jpg">-->
							<%= image_tag feedback.sender.profile_pic_url(:thumb).to_s, class: "avatar" do %>
								<!--<img class="avatar" alt="Pic">-->
							<% end %>
							<span class="message"><span class="arrow"></span>
								<span class="from"><%= feedback.sender.first_name %> <%= feedback.sender.last_name %> on</span>
								<span class="time"><%= feedback.created_at.strftime("%b. %d") %></span>
								<span class="text">
									Said about me for <%= feedback.situation %>:<br/>
									<span class="label label-success">Positives</span>  <%= feedback.positive %><br />
									<span class="label label-important">Growth Areas</span>  <%= feedback.growth_area %><br />
									Hidden? <span class="blue"><%= feedback.hide %></span>
									<%= link_to 'Edit', edit_feedback_path(feedback) %>
								</span>
							</span>	                                  
						</li>
					</ul>
				</div>
				<% end %>
			</div>	<!--/box span 4-->

			<div class="box span4" onTablet="span6" onDesktop="span4">
					<div class="box-header">
						<h2><i class="halflings-icon user"></i><span class="break"></span>Feedback I've Given</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<% @feedbackleft.each do |feedbackleft| %>
					<div class="box-content">
						<div class="time">
							<div class="date"><%= feedbackleft.created_at.strftime("%b. %d") %></div>
						</div>
						<ul class="dashboard-list">
							<li>
								I said about <strong><%= feedbackleft.user.first_name %> <%= feedbackleft.user.last_name %></strong> for <%= feedbackleft.situation %>:</br>
								Positive(s): <%= feedbackleft.positive %><br />
								Growth Area(s): <%= feedbackleft.growth_area %><br />
							</li>	
						</ul>
					</div>
					<% end %>		
			</div>	<!--/box span 4-->

		<div class="box span4" onTablet="span6" onDesktop="span4">				

				<div class="box-header">
						<h2><i class="halflings-icon list"></i><span class="break"></span>Feedback I've Requested</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
				</div>

				<% @requestedfeedbacks.each do |requestedfeedback| %>
				<div class="box-content">
					<ul class="chat">
						<li class="left">
							<%= image_tag requestedfeedback.sender.profile_pic_url(:thumb).to_s, class: "avatar" do %>
							<% end %>
							<span class="message"><span class="arrow"></span>
								I asked 
								<span class="from"><%= requestedfeedback.sender.first_name %> <%= requestedfeedback.sender.last_name %> on</span>
								<span class="time"><%= requestedfeedback.created_at.strftime("%b. %d") %></span>
								<span class="text">
									about <%= requestedfeedback.situation %><br/>
									Their response was:<br/>
									<span class="label label-success">Positives</span>  <%= requestedfeedback.positive %><br />
									<span class="label label-important">Growth Areas</span>  <%= requestedfeedback.growth_area %><br />
									Hidden? <span class="blue"><%= requestedfeedback.hide %></span>
									 <%= link_to 'Edit', edit_requestedfeedback_path(requestedfeedback) %>
								</span>
							</span>	                                  
						</li>
					</ul>
				</div>
				<% end %>
		</div>	<!--/box span 4-->
			

		</div><!--/row fluid-->
	

		<div class="row-fluid">
		<div class="span7">
				<h1>My Badges</h1>

				<table>
					<tr>
						<% @userbadges.each do |userbadge| %>
						<td>
							<%= image_tag userbadge.badge.badge_image_url(:badgepic).to_s %></br>
							<%= userbadge.badge.badge_name %></br>
							From: <%= userbadge.sender.first_name %> <%= userbadge.sender.last_name %></br>
							<%= userbadge.created_at.strftime("%b. %d") %></br>
							Delete:<%= link_to 'Destroy', userbadge, :confirm => 'Are you sure?', :method => :delete %>
						</td>	
						<% end %>
					</tr>
				</table>	
		</div> <!-- span7 -->	
		</div>

				
				<!---
				<div class="priority medium"><span>badges I've sent</span></div>

				<#% @badgesent.each do |userbadgesent| %>
					<div class="task medium">
						<div class="desc">
							<div class="title">
									I gave <strong><#%= userbadgesent.user.first_name %> <#%= userbadgesent.user.last_name %></strong> a badge for:	
							</div>
							<div>
								<#%= userbadgesent.badge.badge_name %> <#%= image_tag userbadgesent.badge.badge_image_url(:thumb).to_s %>
							</div>
						</div>
						<div class="time">
							<div class="date"><#%= userbadgesent.created_at.strftime("%b. %d") %></div>
						</div>
					</div>
				<#% end %>
				-->

			

		<!-- </div> -->
	<!--</div>--> <!-- row-fluid -->










	 
	

