<h1>Give a Badge</h1>



<%= form_for @userbadge do |f| %>
	<p>
		<%= f.label "For" %><br/>
		<%= f.collection_select :user_id, User.all, :id , :last_name %><br>
		<%= f.label "Badge" %><br/>
		<%= f.collection_select :badge_id, Badge.all, :id , :badge_name %><br>
		
		

		<%= f.hidden_field :from_user, :value => current_user.id %>
		<%= f.hidden_field :hide, :value => true %>


		
		
	</p>

	<p>
		<%= f.submit "Create" %>
	</p>


<% end %>
