<h1>Badges Gallery</h1>

<%= link_to "New Badge", new_badge_path %><br><br>


<table>
	<tr>
		<% @badges.each do |badge| %>
			<td>
			<%= image_tag badge.badge_image_url(:badgepic).to_s %><br />
			<strong><%= badge.badge_name %></strong><br />
			<%= link_to 'Edit', edit_badge_path(badge) %><br />
			<%= link_to 'Destroy', badge, :confirm => 'Are you sure?', :method => :delete %><br />
			</td>
		<% end %>
	</tr>
</table>		