<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= link_to "New User", new_user_path %><br><br>
	<table>
		
		<!--
		<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Role Id</th>
		</tr>
	-->

<% @users.each do |user| %>
	
		<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= user.role.role_name %></td>
				<td><%= user.role_id %></td>
				<% if can? :update, User %>
					<td><%= link_to 'Edit', edit_user_path(user) %></td>
				<% end %>
				<% if can? :destroy, User %>
					<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
				<% end %>
		</tr>
	
<% end %>	
</table>