<h1>Give Feedback</h1>



<%= form_for @feedback do |f| %>
	<p>
		<%= f.label "To" %><br/>
		<%= f.collection_select :user_id, User.all, :id , :last_name %><br>
		<%= f.label :situation %><br/>
		<%= f.text_area :situation, :size => "80x5" %><br/>
		<%= f.label :positive %><br/>
		<%= f.text_area :positive, :size => "80x5" %><br/>
		<%= f.label :growth_area %><br/>
		<%= f.text_area :growth_area, :size => "80x5" %><br/>

		<%= f.hidden_field :from_user, :value => current_user.id %>
		<%= f.hidden_field :hide, :value => true %>
		
	</p>

	<p>
		<%= f.submit "Create" %>
	</p>


<% end %>


<!--<textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>-->